body {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("img/Background.png");
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.container {
  position: relative;
  margin: auto;
  width: 80%;
}

 .overlap {
  position: relative;
  width: 924px;
  height: 1308px;
  top: 689px;
  left: 0;
}

 .img {
  width: 312px;
  height: 404px;
  top: 0;
  left: 0;
  mix-blend-mode: exclusion;
  position: absolute;
  object-fit: cover;
}

 .scroll-down {
  position: absolute;
  width: 404px;
  height: 87px;
  top: 223px;
  left: 520px;
}

 .div {
  position: relative;
  width: 400px;
  height: 87px;
}

 .text-wrapper {
  position: absolute;
  width: 400px;
  top: 0;
  left: 0;
  font-family: "Chelsea Market", Helvetica;
  font-weight: 400;
  color: #80bfb9;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

 .text-wrapper-2 {
  position: absolute;
  top: 46px;
  left: 182px;
  transform: rotate(90deg);
  font-family: "Chelsea Market", Helvetica;
  font-weight: 400;
  color: #80bfb9;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

 .button-oil-pollution {
  position: absolute;
  width: 634px;
  height: 229px;
  top: 1097px;
  left: 431px;
}

 .div-wrapper {
  position: relative;
  width: 632px;
  height: 229px;
  background-color: #80bfb9;
  border-radius: 50px;
}

 .text-wrapper-3 {
  position: absolute;
  width: 447px;
  top: 74px;
  left: 94px;
  font-family: "Chelsea Market", Helvetica;
  font-weight: 400;
  color: #1d5273;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

 .button-ocean {
  position: absolute;
  width: 634px;
  height: 210px;
  top: 1391px;
  left: 431px;
}

 .overlap-2 {
  position: relative;
  width: 632px;
  height: 210px;
  background-color: #80bfb9;
  border-radius: 50px;
}

 .text-wrapper-4 {
  position: absolute;
  width: 519px;
  top: 24px;
  left: 46px;
  font-family: "Chelsea Market", Helvetica;
  font-weight: 400;
  color: #1d5273;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

 .button-fish-stocks {
  position: absolute;
  width: 634px;
  height: 229px;
  top: 1666px;
  left: 431px;
}

 .text-wrapper-5 {
  position: absolute;
  width: 504px;
  top: 69px;
  left: 64px;
  font-family: "Chelsea Market", Helvetica;
  font-weight: 400;
  color: #1d5273;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

 .title {
  position: absolute;
  width: 645px;
  height: 228px;
  top: 370px;
  left: 374px;
}

 .about {
  position: fixed;
  width: 101px;
  height: 99px;
  top: 898px;
  left: 1309px;
}

 .overlap-3 {
  position: relative;
  width: 99px;
  height: 99px;
  background-color: #80bfb9;
  border-radius: 49.5px;
}

 .text-wrapper-6 {
  position: absolute;
  width: 18px;
  top: 10px;
  left: 41px;
  font-family: "Chelsea Market", Helvetica;
  font-weight: 400;
  color: #cff6f2;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}
