body {
  background-position: center center;
  background-repeat: repeat-y;
  background-size: cover;
  background-image: url("img/Background.png");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.button-text {
  position: absolute;
  font-family: "Chelsea Market", Helvetica;
  font-weight: 400;
  color: #1d5273;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .button {
  position: relative;
  width: 632px;
  height: 210px;
  background-color: #80bfb9;
  border-radius: 50px;
  border-color: #1d5273;
  margin-bottom: 50px;
  cursor:pointer;
}

 .div {
  position: relative;
  margin: 100px;
}

 .text-wrapper {
  position: relative;
  font-family: "Chelsea Market", Helvetica;
  font-weight: 400;
  color: #80bfb9;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

 .text-wrapper-2 {
  position: relative;
  transform: rotate(90deg);
  font-family: "Chelsea Market", Helvetica;
  font-weight: 400;
  color: #80bfb9;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

 .div-wrapper {
  position: relative;
  width: 632px;
  height: 229px;
  background-color: #80bfb9;
  border-radius: 50px;
}

 .text-wrapper-3 {
  position: relative;
  width: 447px;
  top: 74px;
  left: 94px;
  font-family: "Chelsea Market", Helvetica;
  font-weight: 400;
  color: #1d5273;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

 .overlap-2 {
  position: relative;
  width: 632px;
  height: 210px;
  background-color: #80bfb9;
  border-radius: 50px;
}

 .text-wrapper-4 {
  position: absolute;
  width: 519px;
  top: 24px;
  left: 46px;
  font-family: "Chelsea Market", Helvetica;
  font-weight: 400;
  color: #1d5273;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

 .text-wrapper-5 {
  position: absolute;
  width: 504px;
  top: 69px;
  left: 64px;
  font-family: "Chelsea Market", Helvetica;
  font-weight: 400;
  color: #1d5273;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

 .title {
  position: relative;
  margin-top: 1000px;
}

 .about {
  position: fixed;
  width: 5%;
  height: 5%;
  top: 90%;
  left: 90%;
}

 .overlap-3 {
  position: relative;
  width: 99px;
  height: 99px;
  background-color: #80bfb9;
  border-radius: 49.5px;
}

 .text-wrapper-6 {
  position: absolute;
  width: 18px;
  top: 10px;
  left: 41px;
  font-family: "Chelsea Market", Helvetica;
  font-weight: 400;
  color: #cff6f2;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}
