<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".unityweb" />
            <mimeMap fileExtension=".unityweb" mimeType="application/octet-stream" />
	    <mimeMap fileExtension=".data" mimeType="application/binary" />
	    <mimeMap fileExtension=".mem" mimeType="application/binary" />
        </staticContent>
        <directoryBrowse showFlags="Date, Time, Size, Extension" />
    </system.webServer>
</configuration>